
.album-image {
    object-fit: cover;
    object-position: top;
}

.album-overlay {
    position: fixed;
    z-index: 900;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(1,1,1,0.5);
    display: flex;
    justify-content: center;
}

.album-focused{
    position: fixed;
    top: 5vh;
    margin: auto;
    display:block;
    height: 90vh;
    max-width: 100vw;
}

.background-image {
    background-image: url("/assets/achtergrond.png");
}

[x-cloak] {
    display: none !important;
}
