<!--
This file is managed by the tracepaper modeler, if you want to customize this view
please make sure you rename the file.
-->
<template x-component="ticket-filter">
    <div>
        <draftsman-query :alias="$prop('alias')" authenticated>
     query FilterTicket($year_equals: String = "", $verified_equals: Boolean = false, $redeemed_equals: Boolean = false) {
       Ticket {
         filter(year_equals: $year_equals, verified_equals: $verified_equals, redeemed_equals: $redeemed_equals) {
            resultset { 
             key
             year
             verified
             ticketId
             breakouts
             redeemed
             control
             createdAt
             verifiedAt
             redeemedAt
           }
         }
       }
     }
        </draftsman-query>
        <div x-init="$store.forms[$prop('alias')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "year_equals",
    "type": "String",
    "title": "Year Equals"
  },
  {
    "name": "verified_equals",
    "type": "Boolean",
    "title": "Verified Equals"
  },
  {
    "name": "redeemed_equals",
    "type": "Boolean",
    "title": "Redeemed Equals"
  }
]
        </div>
    </div>
</template>