<!--
This file is managed by the tracepaper modeler, if you want to customize this view
please make sure you rename the file.
-->
<template x-component="program-item-filter">
    <div>
        <draftsman-query :alias="$prop('alias')">
     query FilterProgramItem($year_equals: String = "", $room_equals: String = "", $speaker_equals: String = "", $session_equals: Int = 0, $breakout_equals: Boolean = false) {
       Program {
         Item {
           filter(year_equals: $year_equals, room_equals: $room_equals, speaker_equals: $speaker_equals, session_equals: $session_equals, breakout_equals: $breakout_equals) {
              resultset { 
               key
               summary
               year
               session
               title
               room
               duration
               breakout
               speaker
               startTime
               id
               endTime
             }
           }
         }
       }
     }
        </draftsman-query>
        <div x-init="$store.forms[$prop('alias')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "year_equals",
    "type": "String",
    "title": "Year Equals"
  },
  {
    "name": "room_equals",
    "type": "String",
    "title": "Room Equals"
  },
  {
    "name": "speaker_equals",
    "type": "String",
    "title": "Speaker Equals"
  },
  {
    "name": "session_equals",
    "type": "Int",
    "title": "Session Equals"
  },
  {
    "name": "breakout_equals",
    "type": "Boolean",
    "title": "Breakout Equals"
  }
]
        </div>
    </div>
</template>