<!-- This file is managed by Tracepaper -->
<template x-component="RemoveProgramItemConference">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="RemoveProgramItemConference" x-include="/prepared-statements/commands/RemoveProgramItemConference.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="RemoveProgramItemConference"
              x-include="/form-definitions/RemoveProgramItemConference.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="RemoveProgramItemConference"></ui-basic-form>

        <draftsman-trace command="RemoveProgramItemConference"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'RemoveProgramItemConference', data: {} });">
        </draftsman-trace>
    </div>
</template>