<!-- This file is managed by Tracepaper -->
<template x-component="ResendTicket">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="ResendTicket" x-include="/prepared-statements/commands/ResendTicket.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="ResendTicket"
              x-include="/form-definitions/ResendTicket.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="ResendTicket"></ui-basic-form>

        <draftsman-trace command="ResendTicket"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'ResendTicket', data: {} });">
        </draftsman-trace>
    </div>
</template>