<!-- This file is managed by Tracepaper -->
<template x-component="ScheduleEmail">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="ScheduleEmail" x-include="/prepared-statements/commands/ScheduleEmail.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="ScheduleEmail"
              x-include="/form-definitions/ScheduleEmail.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="ScheduleEmail"></ui-basic-form>

        <draftsman-trace command="ScheduleEmail"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'ScheduleEmail', data: {} });">
        </draftsman-trace>
    </div>
</template>