<!-- This file is managed by Tracepaper -->
<template x-component="SendEmail">
    <div x-import="basic-form;tables">

        <!-- The command object -->
        <draftsman-mutation command="SendEmail" x-include="/prepared-statements/commands/SendEmail.txt" authenticated>
        </draftsman-mutation>

        <!-- The form definition -->
        <div  style="display:none;" id="SendEmail"
              x-include="/form-definitions/SendEmail.json"></div>

        <!-- The trace table -->
        <ui-trace-table></ui-trace-table>

        <!-- The form -->
        <ui-basic-form alias="SendEmail"></ui-basic-form>

        <draftsman-trace command="SendEmail"
              status="success"
              @trace="
                setTimeout(Draftsman.empty_track_and_trace_log,5000);
                $dispatch('setdata', { command: 'SendEmail', data: {} });">
        </draftsman-trace>
    </div>
</template>