<!-- This file is managed by Tracepaper -->
<template x-component="Edition-filter">
    <div x-import="tables;query-form">

        <!-- The query object -->
        <draftsman-query alias="Editionfilter" x-include="/prepared-statements/views/Edition/filter.txt" >
        </draftsman-query>

        <!-- The form definition -->
        <div  style="display:none;" id="Editionfilter"
              x-include="/form-definitions/Edition/filter.json"></div>

        <!-- The query form -->
        <ui-query-form alias="Editionfilter"></ui-query-form>

        <!-- The data view --><ui-collection-table alias="Editionfilter" path="filter.resultset"></ui-collection-table>

    </div>
</template>