<template x-component="banner" x-data="{}">
  <header class="bg-dark background-image py-5 data-element"
          @refresh="date = $store.next.Element.get.edition.date;
                    registrationManager = $store.next.Element.get.edition.registrationManager;"
          x-effect="$store.registrationOpen = opened"
          x-data="{date: '', registrationManager: {}, closeText: '',opened: false, reason: ''}">
    <div class="container px-5">
      <div x-init="setInterval(function(){
            closeText = getCloseText(registrationManager);
            opened = inschrijvingGeopend(registrationManager);
            reason = closedReason(registrationManager);
          },5000);"
        x-effect="closeText = getCloseText(registrationManager);opened = inschrijvingGeopend(registrationManager);reason = closedReason(registrationManager);"></div>
      <div class="row gx-5 align-items-center justify-content-center">
        <div class="col-lg-8 col-xl-7 col-xxl-6">
          <div class="my-5 text-center text-xl-start">
            <img src="/assets/devconf_logo_white_poly.png" width="100%"/>
            <h4 x-text="date != '' ? moment(date, 'DD-MM-YYYY').format('LL') : ''"
                class="display-5 fw-bolder text-white mb-2 text-center">
            </h4>
            <template x-if="opened">
              <div class="d-grid gap-2 col-6 mx-auto">
                <h6 class="text-white"><span x-text="registrationManager.maxVisitors - registrationManager.registeredVisitors"></span> seats beschikbaar, inschrijving sluit over <span x-text="closeText"></span></h6>
                <a href="#register"
                   @click="open_registration_window()"
                   class="btn btn-outline-light">Schrijf je nu in!</a>
              </div>
            </template>
            <template x-if="!opened">
              <div class="d-grid gap-2 col-6 mx-auto">
                <h6 class="text-white" x-text="reason"></h6>
              </div>
            </template>
          </div>
        </div>
        <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
          <a x-bind:href="get_variable('home_video_youtube_link')" target="_blank">
            <video x-bind:src="get_variable('home_video');"
                   muted autoplay loop
                   class="img-fluid rounded-3 my-5"></video>
          </a>
        </div>
      </div>
    </div>
  </header>
</template>