<!-- This file is managed by Tracepaper -->
<template x-component="ProgramItem-filter">
    <div x-import="tables;query-form">

        <!-- The query object -->
        <draftsman-query alias="ProgramItemfilter" x-include="/prepared-statements/views/ProgramItem/filter.txt" >
        </draftsman-query>

        <!-- The form definition -->
        <div  style="display:none;" id="ProgramItemfilter"
              x-include="/form-definitions/ProgramItem/filter.json"></div>

        <!-- The query form -->
        <ui-query-form alias="ProgramItemfilter"></ui-query-form>

        <!-- The data view --><ui-collection-table alias="ProgramItemfilter" path="Item.filter.resultset"></ui-collection-table>

    </div>
</template>