<template x-component="footer" x-data="{year: new Date().getFullYear()}">
  <footer class="bg-dark py-4 mt-auto footer-customization">
    <div class="container px-5">
      <div class="row align-items-center justify-content-between flex-column flex-sm-row">
        <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; devConf <span x-text="year"></span> </div></div>
        <div class="col-auto">
          <a class="link-light small" href="/privacy">Privacy</a>
          <span class="text-white mx-1">&middot;</span>
          <a class="link-light small" href="mailto:info@devconf.nl">Contact</a>
          <span class="text-white mx-1">&middot;</span>
          <a class="link-light small" href="/appsync">API</a>
        </div>
      </div>
    </div>
  </footer>
</template>