<template x-component="navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" x-transition>
        <div class="container px-5">
            <a class="navbar-brand" href="/">
                <img src="/assets/devconf_logo_white.png" width="115px" alt="logo"/>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <template x-if="localStorage['staging-environment'] && localStorage['staging-environment'] == 'true'">
                        <li class="nav-item active">
                            <a class="nav-link" href="/configuration" style="color:red;">Staging!</a>
                        </li>
                    </template>
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"
                        x-cloak
                        x-transition.delay.500ms
                        x-show="$store.next.Element.get.edition.program.programItem.length != 0"><a class="nav-link" href="/programma">Programma</a></li>
                    <!--
                    <li class="nav-item"><a class="nav-link" href="/archief">Archief</a></li>
                    -->
                </ul>
            </div>
        </div>
        <draftsman-query alias="next" x-include="/prepared-statements/next-edition.txt">
        </draftsman-query>
    </nav>
</template>