<!--
This file is managed by the tracepaper modeler, if you want to customize this command
please make sure you rename the file first.
-->
<template x-component="redeem-ticket">
  <div>
    <draftsman-mutation :command="$prop('command')"  authenticated>
     mutation Redeem($ticketId: String = "") {
       Ticket{
         redeem(input: {ticketId: $ticketId}) {
            correlationId
         }
       }
     }
    </draftsman-mutation>
    <div x-init="$store.forms[$prop('command')] = $el.innerHTML" style="display:none;">
[
  {
    "name": "ticketId",
    "title": "Ticketid",
    "type": "String",
    "pattern": "",
    "placeholder": "",
    "default": ""
  }
]
    </div>
  </div>
</template>