<!-- This file is managed by Tracepaper -->
<template x-component="TalkProposal-filter">
    <div x-import="tables;query-form">

        <!-- The query object -->
        <draftsman-query alias="TalkProposalfilter" x-include="/prepared-statements/views/TalkProposal/filter.txt" authenticated>
        </draftsman-query>

        <!-- The form definition -->
        <div  style="display:none;" id="TalkProposalfilter"
              x-include="/form-definitions/TalkProposal/filter.json"></div>

        <!-- The query form -->
        <ui-query-form alias="TalkProposalfilter"></ui-query-form>

        <!-- The data view --><ui-collection-table alias="TalkProposalfilter" path="filter.resultset"></ui-collection-table>

    </div>
</template>