<!-- This file is managed by Tracepaper -->
<template x-component="Album-filter">
    <div x-import="tables;query-form">

        <!-- The query object -->
        <draftsman-query alias="Albumfilter" x-include="/prepared-statements/views/Album/filter.txt" >
        </draftsman-query>

        <!-- The form definition -->
        <div  style="display:none;" id="Albumfilter"
              x-include="/form-definitions/Album/filter.json"></div>

        <!-- The query form -->
        <ui-query-form alias="Albumfilter"></ui-query-form>

        <!-- The data view --><ui-collection-table alias="Albumfilter" path="filter.resultset"></ui-collection-table>

    </div>
</template>