<!--
This file is managed by the tracepaper modeler, if you want to customize this view
please make sure you rename the file.
-->
<template x-component="talkproposal-filter">
    <div>
        <draftsman-query :alias="$prop('alias')" authenticated>
     query FilterTalkProposal {
       TalkProposal {
         filter {
            resultset { 
             key
             difficultyLevel
             name
             abstract
             biography
             id
             title
             email
           }
         }
       }
     }
        </draftsman-query>
        <div x-init="$store.forms[$prop('alias')] = $el.innerHTML" style="display:none;">
[]
        </div>
    </div>
</template>